<div class="row">
  <div class="col-md-6">
    <h2>Please enter your information</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <form #f="ngForm" novalidate (ngSubmit)="registerUser(f)">
          <div class="form-group">
              <label for="company">Entreprise</label>
              <input type="text" class="form-control" id="company" placeholder="Entreprise"  required name="company" ngModel>              
           </div> 
          <div class="form-group">
              <label for="first-name">Prénom</label>
              <input type="text" class="form-control" id="first-name" placeholder="Prénom" name="firstName" tmFocus ngModel>              
          </div>
          <div class="form-group">
              <label for="last-name">Nom</label>
              <input type="text" class="form-control" id="last-name" placeholder="Nom" name="lastName" ngModel>              
          </div>
          <div class="form-group">
            <label for="email">Email</label>
          	<input id="email" type="text" required name="email" validateEmail class="form-control" placeholder="Email" ngModel  #email="ngModel">
            <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
          </div>
          <div class="form-group">
            <label for="password">Mot de passe Bizy</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" ngModel>
          </div>   
          <div class="form-group">
              <label for="winBizUsername">Nom d'utilisateur WinBIZ Cloud API</label>
              <input type="text" class="form-control" id="winBizUsername" placeholder="Nom d'utilisateur" name="winBizUsername" ngModel>              
          </div>
          <div class="form-group">
            <label for="winBizPassword">Mot de passe WinBIZ Cloud API</label>
            <input type="password" class="form-control" id="winBizPassword" name="winBizPassword" placeholder="Mot de passe" ngModel>
          </div>   
          <div class="form-group">
              <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Sign Up</button>
              <!-- <app-spinner [isRunning]="isRequesting"></app-spinner>  -->
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="errors.length > 0">
              <ul>
                  <li *ngFor="let error of errors">
                      {{ error }}
                  </li>
              </ul>
          </div>             
          
        </form>
   </div>
</div>