<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-facebook" style="height:60px;">
          <span class="text-value text-white">Chiffre d'affaires annuel</span>
        </div>
        <div class="brand-card-body" style="height:75px;">
          <div>
            <div *ngIf="salesThisAndPastYear" class="text-value">{{salesThisAndPastYear.salesThisYear}} CHF</div>
            <i *ngIf="salesThisAndPastYear == null" class="fa fa-spinner fa-spin text-value"></i>
            <div class="text-uppercase text-muted small">Instant T</div>
          </div>
          <div>
            <div *ngIf="salesThisAndPastYear" class="text-value">{{salesThisAndPastYear.salesPastYear}} CHF</div>
            <i *ngIf="salesThisAndPastYear == null" class="fa fa-spinner fa-spin text-value"></i>
            <div class="text-uppercase text-muted small">Instant T - 1 année</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-google-plus" style="height:60px;">
          <span class="text-value text-white">Paiements en retard</span>

        </div>
        <div class="brand-card-body" style="height:75px;">
          <div>
              <div *ngIf="pendingPayments" class="text-value">{{pendingPayments.docs}} CHF</div>
              <i *ngIf="pendingPayments == null" class="fa fa-spinner fa-spin text-value"></i>
            <div class="text-uppercase text-muted small">Docs</div>
          </div>
          <div>
              <div *ngIf="pendingPayments" class="text-value">{{pendingPayments.amount}} CHF</div>
              <i *ngIf="pendingPayments == null" class="fa fa-spinner fa-spin text-value"></i>
            <div class="text-uppercase text-muted small">CHF</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-twitter" style="height:60px;">
          <span class="text-value text-white">Paiements à venir</span>

        </div>
        <div class="brand-card-body" style="height:75px;">
          <div>
              <div *ngIf="paymentsCalendar" class="text-value">{{paymentsCalendar.docs}} CHF</div>
              <i *ngIf="paymentsCalendar == null" class="fa fa-spinner fa-spin text-value"></i>
            <div class="text-uppercase text-muted small">Docs</div>
          </div>
          <div>
              <div *ngIf="paymentsCalendar" class="text-value">{{paymentsCalendar.amount}} CHF</div>
              <i *ngIf="paymentsCalendar == null" class="fa fa-spinner fa-spin text-value"></i>
            <div class="text-uppercase text-muted small">CHF</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-xing" style="height:60px;">
          <span class="text-value text-white">Chiffre d'affaires mensuel</span>

        </div>
        <div class="brand-card-body" style="height:75px;">
          <div>
              <div *ngIf="salesThisAndPastYearMonth" class="text-value">{{salesThisAndPastYearMonth.salesThisMonth}} CHF</div>
              <i *ngIf="salesThisAndPastYearMonth == null" class="fa fa-spinner fa-spin text-value"></i>
            <div class="text-uppercase text-muted small">ce mois</div>
          </div>
          <div>
              <div *ngIf="salesThisAndPastYearMonth" class="text-value">{{salesThisAndPastYearMonth.salesPastYearMonth}} CHF</div>
              <i *ngIf="salesThisAndPastYearMonth == null" class="fa fa-spinner fa-spin text-value"></i>
            <div class="text-uppercase text-muted small">même mois un an avant</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5">
              <h4 class="card-title mb-0">Chiffre d'affaires mensuel</h4>
            </div>
            <!--/.col-->
            <div class="col-sm-7 d-none d-md-block">
              <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                <label class="btn btn-outline-secondary" [(ngModel)]="salesChartMonths" (ngModelChange)="getDocInfoVenteChiffreAffaireMonths(3)"
                  btnRadio="3">3 mois</label>
                <label class="btn btn-outline-secondary" [(ngModel)]="salesChartMonths" (ngModelChange)="getDocInfoVenteChiffreAffaireMonths(6)"
                  btnRadio="6">6 mois</label>
                <label class="btn btn-outline-secondary" [(ngModel)]="salesChartMonths" (ngModelChange)="getDocInfoVenteChiffreAffaireMonths(12)"
                  btnRadio="12">12 mois</label>
              </div>
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
          <div class="chart-wrapper" style="height:300px;margin-top:40px;">
            <canvas style="height:300px;margin-top:40px;" *ngIf="docInfoVenteChiffreAffaireLabelsMonths.length > 1" baseChart class="chart"
              [labels]="docInfoVenteChiffreAffaireLabelsMonths" [datasets]="docInfoVenteChiffreAffaireValuesMonths" [options]="barChartOptions"
              [legend]="false" [colors]="colors" chartType="bar"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>